<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AttendX</title>

    <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

{% if session.get('user_id') %}

<header class="topbar">

    <div class="brand">
        AttendX
    </div>

    <div class="user-area">
        {{ session.get('full_name') }}
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

</header>

<nav class="navbar">

    <a href="{{ url_for('dashboard') }}">Dashboard</a>

    <a href="{{ url_for('students') }}">Students</a>

    <a href="{{ url_for('subjects') }}">Subjects</a>

    <a href="{{ url_for('attendance') }}">Attendance</a>

    <a href="{{ url_for('reports') }}">Reports</a>

</nav>

{% endif %}


<main class="container">

{% with messages = get_flashed_messages(with_categories=true) %}

    {% for category, message in messages %}

        <div class="alert {{ category }}">
            {{ message }}
        </div>

    {% endfor %}

{% endwith %}


{% block content %}

{% endblock %}

</main>


<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>