<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AttendX Login</title>

    <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="login-page">

<div class="login-card">

    <h1>AttendX</h1>

    <p>College Attendance Management System</p>

    {% with messages = get_flashed_messages(with_categories=true) %}

        {% for category, message in messages %}

            <div class="alert {{ category }}">
                {{ message }}
            </div>

        {% endfor %}

    {% endwith %}

    <form method="POST">

        <label>Username</label>

        <input
            type="text"
            name="username"
            placeholder="Enter username"
            required
        >

        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Enter password"
            required
        >

        <button class="btn primary" type="submit">
            Login
        </button>

    </form>

    <small>
        Default: admin / admin123
    </small>

</div>

</body>
</html>